html, body {
    margin: 0; padding: 0;
}

body {
    background: #fff;

    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.page {
    background: url('/public/background.jpg');
    background-size: 100% auto;

    &__header {
        width: 100%;
        height: 300px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__heading {
        margin: 0;
        padding: 0;
        color: #fff;
        text-transform: uppercase;

        font-family: 'Roboto', sans-serif;

        &-major {
            font-size: 3rem;
            text-align: center;
        }

        &-minor {
            font-size: 0.8rem;
            text-align: left;
        }
    }

    &__subheading {
        color: #fff;
        margin: 0;
        padding: 0;
    }

    &__body {
        width: 100%;
        min-height: calc(100vh - 364px);
        background: #fff;
    }

    &__content {
        width: 100%;
        max-width: 800px;
    
        margin: 0 auto;

        padding: 1em;
        box-sizing: border-box;
    }

    &__footer {
        height: 64px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 1rem;

        &-icon {
            margin-right: 15px;
        }
    }
}

.article {
    border-bottom: 1px solid #aaa;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    &__heading {
        font-size: 2rem;
    }

    &__link {
        font-size: 2rem;
        color: #4848a2;

        > h2 {
            font-size: inherit;
        }
    }

    &__date {
        color: #999;
        font-size: 0.8rem;
    }

    &__content {
        img {
            max-width: 100%;
        }
    }
}